.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.p-grid {
  max-width: 600px; /* Ajustar el ancho del formulario */
  width: 100%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 20px auto; /* Añadir margen arriba y abajo */
}

.p-col-12 {
  margin-bottom: 15px;
}

.p-button-success {
  width: 100%;
  background-color: #28a745;
  border-color: #28a745;
  padding: 12px; /* Ajustar el padding del botón */
  font-size: 16px; /* Reducir tamaño de fuente */
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  padding: 10px; /* Aumentar el padding de los campos de texto */
}

@media (max-width: 768px) {
  .mi-clase {
    font-size: 14px;
    padding: 10px;
  }
}